/* #region common */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 1440px;
}
/* #endregion common */

/* #region utilities */

a{
    text-decoration: none;
}

.d-flex{
    display: flex;
}

.space-around{
    justify-content: space-around;
}

.align-middle{
    vertical-align: middle;
}

.py-4{
    padding-top: 10px;
}

.color-white{
    color: white;
}

.px-10{
    padding-right: 10px;
}

/* #endregion utilities */

/* #region header */

header{
    height: 40px;
    background-color: #ff6900;
    position: sticky;
}

.b-logo{
    width: 100px;
}

/* #endregion header */

/* #region main */
/* #endregion main */

/* #region footer */
/* #endregion footer */